*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    border: 0%;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    color: black;
    border: 100px;
    text-align: center;
}

nav{
    text-align: center;
    padding: 5px 0px 0px 0px;

}

.grid-area{

    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
}

.textosheader{
    display: block;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: center;
    text-align: center;
    }
    
    .textosheader h1{
        font-size: 60px;
        color: rgb(255, 255, 255);
    }
    
    .textosheader h2{
        font-size: 30px;
        font-weight: 300;
        color: rgb(255, 255, 255);
    }
    
    /* todo el header con el nav */
    #header{
        width: 100%;
        height: 900px;
        background: #e6bc0542;  
        background-image: url(../img/fahmi-fakhrudin-nzyzAUsbV0M-unsplash.jpg);    
        padding: 25px;
        align-items: top;
        justify-content: space-between;
        display: flex;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-size: cover;
        background-attachment: fixed;
        flex-direction: row;
        margin: 0 auto;
        grid-column: 1/4;
        }
    
        
        #header .logo{
            color: black;
            ;
        }
        
        #header .menu ul {
            list-style: none;
            display: flex;
            text-decoration: none;
            text-align: center;
        }
        
        /* el menu donde aparece contacto etc */
        #header .menu ul li a{
            background-color: none;
            margin: 20px 10px;
            padding: 10px;
            width: 100%;
            text-decoration: none;
            align-items: left;
            color: rgb(255, 255, 255);
            border-style: solid;
        }
    
        .menu li a:hover{
            background: #e98b1149;
        }
    
        #header .h1index {
            justify-content: center;
            align-items: center;
            text-align: center;
            display: flex;
            color: white;    
            font-size: 70px;
            height: 430px;
            margin-left: 20%;
            margin-top: 3%;
            flex-direction: column;
            display: grid;
        }
    

    /* INDEX */
    .h3h4index{
        padding: 10px;
        background: rgb(255, 255, 255);
        display: grid;
        height: 350px;
        grid-row: 3/3;

        
    }
        
    .h3index {
        color: rgb(255, 255, 255);
        width: 100%;
        text-align: center;
        background-image: url(../img/cafeeeeeee.jpg);
        position: relative;
        padding-top: 90px;
        box-shadow: 7px 7px 15px #592A08;
        background-size: cover;
        font-size: 30px;
        color: grey;  
        grid-column: 1/3;
    }

    .h3index img{
        height: auto;
    }

    .h4index {

        width: 100%;
        text-align: center;
        background-image: url(../img/mike-kenneally-TD4DBagg2wE-unsplash\ \(1\).jpg);
        color: rgb(255, 255, 255);
        padding-top: 90px;
        background-size: cover;
        box-shadow: 7px 7px 15px #592A08;
        font-size: 30px;
        grid-column: 3/3;

}


.imagensitasindex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 10px;
    text-align: center;
}


.contenedorimagenes {
    box-shadow: 7px 7px 15px #592A08;
    margin: 10px;
    background: rgba(247, 242, 235, 0.911);
}

.imagen-conteiner .imagen-caja img{
    width: 100%;
    height: auto;
}



    /* CAFES */
    #headercafe{
        width: 100%;
        height: 20vh;
        background: #e6bc0542;  
        background-image: url(../img/fahmi-fakhrudin-nzyzAUsbV0M-unsplash.jpg);    
        padding: 25px;
        align-items: top;
        justify-content: space-between;
        display: flex;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-size: cover;
        background-attachment: fixed;
        flex-direction: row;
        margin: 0 auto;
        grid-column: 1/4;
        }
    
        
        #headercafe .logo{
            color: black;
        }
        
        #headercafe .menu ul {
            list-style: none;
            display: flex;
            text-decoration: none;
            text-align: center;
        }
        
        /* el menu donde aparece contacto etc */
        #headercafe .menu ul li a{
            background-color: none;
            margin: 20px 10px;
            padding: 10px;
            width: 100%;
            text-decoration: none;
            align-items: left;
            color: rgb(255, 255, 255);
            border-style: solid;
        }
    
        .menu li a:hover{
            background: #e98b1149;
        }
    
        #headercafe .h1cafee {
            justify-content: center;
            align-items: center;
            text-align: center;
            display: flex;
            color: white;    
            font-size: 20px;
            height: 5px;
            margin-left: 20%;
            margin-top: 3%;
            flex-direction: column;
            display: grid;
        }

           /* row o column(linea o columna), wrap o nowrap, nos acercamos al tema del responsive */
/* start(izq) end(der) y center(centro) space-between y evenly*//* solo para mas de 1 fila */
            

.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 10fr;
    gap: 2px 2px;
    grid-auto-flow: row;
    grid-template-areas:
      "mocaccino mocaccino capuchino capuchino"
      "cortado cortado otro-gusto otro-gusto"
      ". . . ."
      ". . . .";
  }
  
  .mocaccino { grid-area: mocaccino;
padding-top: 30px;
box-shadow: 7px 7px 15px #592A08;
background-image: url(../img/mocaccino.jpg);
background-size: cover; 
color: white;}

.mocaccino img {
    height: 20vh;
}
  
  .capuchino { grid-area: capuchino;
    padding-top: 30px;
    box-shadow: 7px 7px 15px #592A08;
    background-image: url(../img/capuchino.jpg);
    background-size: cover; 
    color: white;
}
.capuchino img {
    height: 20vh;
}

  
  
  .cortado { grid-area: cortado;
    padding-top: 30px;
    box-shadow: 7px 7px 15px #592A08; 
    background-image: url(../img/cafeteriaaa.jpg);
    background-size: cover; 
    color: white;
}
.cortado img {
        height: 20vh;
    
}
  
  .otro-gusto { grid-area: otro-gusto;
    padding-top: 30px;
    box-shadow: 7px 7px 15px #592A08;
    background-image: url(../img/cafefriofondo.jpg);
    background-size: cover; 
    color: white;
}

.otro-gusto img{
    height: 20vh;
}
  
    
    .footerr{
        margin-top: 500px;
        background-image: url(../img/ilustracionnn.jpg);
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    /* HTML HISTORIA */
    /* aca proximamente iria una imagen de fondo buena */
    .iiframe{
        border-style: solid;
        border-color: bisque;
        align-items: center;
        width: 100%;
        position: relative;
    }

    .tablaa{
        border-style: solid;
        border-color: bisque;
        align-items: center;
        color: red;
    }

    .historia{
        border-style: solid;
        border-color: bisque;
        align-items: center;
        text-align: center;
    }

    /* HTML INICIO */
    .h1inicio{
        text-align: center;
    }

    /* MEDIA RESPONSIVE */
    @media only screen and (max-width: 600px) {

        #header .h1index {
            justify-content: center;
            align-items: center;
            text-align: center;
            display: flex;
            color: white;    
            font-size: 20px;
            height: 100px;
            margin-left: 10%;
            margin-top: 80%;
            flex-direction: column;
            margin-top: 200px;
        }

        #header.menu ul li a{
            background-color: none;
            padding: 10px;
            width: 100%;
            text-decoration: none;
            align-items: center;
            color: rgb(255, 255, 255);
            border-style: solid;
            display: grid;
            margin-top: 45.70em; /* para bajar la barra */
            margin-right: 45.70em;
        }

        #header .menu ul {
            list-style: none;
            display: grid;
            text-decoration: none;
            text-align: center;
            justify-content: space-evenly;
            height: 200px;
            margin-right: -20%;
            font-size:smaller;
        }

        #header{
            width: 100%;
            height: 500px;
            background: #e6bc0542;  
            position: sticky; 
            background-image: url(../img/fahmi-fakhrudin-nzyzAUsbV0M-unsplash.jpg);    
            padding: 25px;
            align-items: top;
            justify-content: space-between;
            display: flex;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            background-size: cover;
            background-attachment: fixed;
            flex-direction: row;
            margin: 0 auto;
            }

            .pabajo{
                height: 30px;
            }

            .h3h4index{
                padding: 10px;
                background: rgb(255, 255, 255);
                display: flex;
                flex-direction: row;
                height: 150px;
            }

            .h3index {
                color: rgb(255, 255, 255);
                width: 100%;
                text-align: center;
                background-image: url(../img/cafeeeeeee.jpg);
                position: relative;
                padding-top: 90px;
                box-shadow: 7px 7px 15px #592A08;
                background-size: cover;
            }
            .h3index h3 {
                display: none;
            }
                
        
            .h4index {
        
                width: 100%;
                text-align: center;
                background-image: url(../img/mike-kenneally-TD4DBagg2wE-unsplash\ \(1\).jpg);
                color: rgb(255, 255, 255);
                padding-top: 20px;
                box-shadow: 7px 7px 15px #592A08;
                display: flex;
                justify-content: center;
                text-align: top;
                font-size: 20px;
            }
            
            .imagensitasindex {
                width: 100%;
                height: auto;
            }
            .contenedorimagenes img{
                height: 100px;
            }

            /* CAFEEEEEEEEEEEEEEEEEEEEEES */
            
            #headercafe .h1cafee {
                justify-content: center;
                align-items: center;
                text-align: center;
                display: flex;
                color: white;    
                font-size: 15px;
                margin-left: 10%;
                margin-top: 80%;
                flex-direction: column;
                margin-top: 150px;
            }
    
            #headercafe.menu ul li a{
                background-color: none;
                padding: 10px;
                width: 100%;
                text-decoration: none;
                align-items: center;
                color: rgb(255, 255, 255);
                border-style: solid;
                display: grid;
                margin-top: 45.70em; /* para bajar la barra */
                margin-right: 45.70em;
            }
    
            #headercafe .menu ul {
                list-style: none;
                display: grid;
                text-decoration: none;
                text-align: center;
                justify-content: space-evenly;
                height: 200px;
                margin-right: -20%;
                font-size:smaller;
            }
    
            #headercafe{
                width: 100%;
                height: 230px;
                background: #e6bc0542;  
                position: sticky; 
                background-image: url(../img/fahmi-fakhrudin-nzyzAUsbV0M-unsplash.jpg);    
                padding: 25px;
                align-items: top;
                justify-content: space-between;
                display: flex;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                background-size: cover;
                background-attachment: fixed;
                flex-direction: row;
                margin: 0 auto;
                }
        }