.mocaccino {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #6e4f29;
}

.mocaccino img {
  height: 22vh;
}

.capuchino {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background: #6e4f29;
}

.capuchino img {
  height: 22vh;
  border-color: white;
}

.cortado {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #6e4f29;
}

.cortado img {
  height: 22vh;
}

.otro-gusto {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #6e4f29;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.otro-gusto img {
  height: 22vh;
  border-color: white;
}

.parrafoscafe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.tipodecafe {
  font-size: 4vh;
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom-width: 1px;
  margin: 30px;
}

.descripcioncafes {
  text-align: auto;
  margin-bottom: 30px;
}

.container {
  padding-top: 30px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  border: 0%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  color: black;
  border: 100px;
}

.grid-area {
  width: 100%;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.textosheader {
  display: block;
  height: 50px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  text-align: center;
}

.textosheader h1 {
  font-size: 60px;
  color: white;
}

.textosheader h1 h2 {
  font-size: 30px;
  font-weight: 300;
  color: white;
}

.h3h4index {
  padding-top: 20px;
  background: white;
  display: -ms-grid;
  display: grid;
  height: 300px;
  -ms-grid-row: 3;
  grid-row: 3/3;
}

.h3index {
  color: white;
  width: 100%;
  text-align: center;
  background-image: url(../img/cafeeeeeee.jpg);
  position: relative;
  padding-top: 90px;
  -webkit-box-shadow: 7px 7px 15px #592A08;
          box-shadow: 7px 7px 15px #592A08;
  background-size: cover;
  font-size: 30px;
  color: grey;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.h3index img {
  height: auto;
}

.h4index {
  width: 100%;
  text-align: center;
  background-image: url(../img/mike-kenneally-TD4DBagg2wE-unsplash.jpg);
  color: white;
  padding-top: 90px;
  background-size: cover;
  -webkit-box-shadow: 7px 7px 15px #592A08;
          box-shadow: 7px 7px 15px #592A08;
  font-size: 30px;
  -ms-grid-column: 3;
  grid-column: 3/3;
}

.imagensitasindex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 10px;
  text-align: center;
}

.contenedorimagenes {
  -webkit-box-shadow: 7px 7px 15px #592A08;
          box-shadow: 7px 7px 15px #592A08;
  margin: 10px;
  background: rgba(247, 242, 235, 0.911);
}

.contenedorimagenes img {
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.contenedorimagenes img p {
  display: block;
}

/* FOOOOTEEEER */
.imagen-conteiner {
  padding-top: 30px;
  padding-bottom: 30px;
}

.imagen-conteiner .imagen-caja img {
  width: 100%;
  height: auto;
}

.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

/* PARA EL NUEVO INDEXXXX */
.abajodelnav {
  text-align: center;
  padding: 5px 0px 0px 0px;
}

#header {
  width: 100%;
  height: 80vh;
  background-image: url(../img/fahmi-fakhrudin-nzyzAUsbV0M-unsplash.jpg);
  padding: 25px;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-size: cover;
  background-attachment: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  text-align: center;
  color: white;
  background-position: center;
}

#header h1 {
  font-size: 13vh;
  color: white;
}

.comenzar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
}

.comenzar button {
  background: black;
  -webkit-box-shadow: 7px 7px 15px #000000;
          box-shadow: 7px 7px 15px #000000;
  width: auto;
  border-radius: 10%;
}

.comenzar button p {
  color: white;
  background: black;
  padding-top: 20px;
  font-size: 20px;
  width: auto;
  border-radius: 10%;
}

.historia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.historia h1 {
  color: #6e4f29;
}

.alcentro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containernosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 30px;
}

.cafeviejo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #592A08;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 30px;
}

.cafeviejo h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom-width: 1px;
  margin: 10px;
}

.listadesordenada {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-size: 4vh;
}

/* CONTACTOOOOOOO HTML */
.almediocontacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.almediocontacto .h1contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #592A08;
}

.almediocontacto .formulario {
  margin-top: 50px;
  border-style: inherit;
  background-image: url(../img/cafeteriaaa.jpg);
  padding: 25px;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  text-align: center;
  color: #af6d0a;
  width: 80%;
  -webkit-box-shadow: 0 0 10px #000000;
          box-shadow: 0 0 10px #000000;
  font-size: 2vh;
}

/* MIXIN */
.boton, .boton--marron {
  display: inline-block;
  padding: 10px;
  /* SE INCLUYE TODO LO QUE CONTENGA @include boton; */
  border: 1px solid #333;
  background-color: #592A08;
  border-radius: 30%;
  color: white;
}

/* EXTEND */
.boton, .boton--marron {
  display: inline;
  width: 200px;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 20px;
  font-weight: 700;
}

.boton--marron {
  /* basicamente se extiende y anida todo lo que tenga @extend .boton */
  background-color: #b69835;
  color: white;
}

/* MAPS */
/* nombre aplica a lo que le pongo antes (adentro del id nombre asi se generan las clases en el css. , valor corresponde a los colores, blue skyblue pro ej. en $botones que corresponde a la variable que aplicara esto */
.icon-azul {
  color: blue;
}

/* nombre aplica a lo que le pongo antes (adentro del id nombre asi se generan las clases en el css. , valor corresponde a los colores, blue skyblue pro ej. en $botones que corresponde a la variable que aplicara esto */
.icon-cielo {
  color: skyblue;
}

/* nombre aplica a lo que le pongo antes (adentro del id nombre asi se generan las clases en el css. , valor corresponde a los colores, blue skyblue pro ej. en $botones que corresponde a la variable que aplicara esto */
.icon-violeta {
  color: violet;
}

/* nombre aplica a lo que le pongo antes (adentro del id nombre asi se generan las clases en el css. , valor corresponde a los colores, blue skyblue pro ej. en $botones que corresponde a la variable que aplicara esto */
.icon-celeste {
  color: lightblue;
}

/* nombre aplica a lo que le pongo antes (adentro del id nombre asi se generan las clases en el css. , valor corresponde a los colores, blue skyblue pro ej. en $botones que corresponde a la variable que aplicara esto */
.icon-violetazulado {
  color: blueviolet;
}

.coloresss {
  background: #dedede;
  padding: 20px;
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .imagen-conteiner {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .imagen-conteiner .imagen-caja img {
    width: 100%;
    height: auto;
  }
  .h3h4index {
    padding: 10px;
    background: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 150px;
  }
  .h3index {
    color: white;
    width: 100%;
    text-align: center;
    background-image: url(../img/cafeeeeeee.jpg);
    position: relative;
    padding-top: 90px;
    -webkit-box-shadow: 7px 7px 15px #592A08;
            box-shadow: 7px 7px 15px #592A08;
    background-size: cover;
  }
  .h3index h3 {
    display: none;
  }
  .h4index {
    width: 100%;
    text-align: center;
    background-image: url(../img/mike-kenneally-TD4DBagg2wE-unsplash.jpg);
    color: white;
    padding-top: 20px;
    -webkit-box-shadow: 7px 7px 15px #592A08;
            box-shadow: 7px 7px 15px #592A08;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: top;
  }
  .h4index p {
    padding-top: 20px;
    font-size: 15px;
  }
  /* fijarme esto para que el texto quede bien con las cajas */
  .imagensitasindex {
    width: 100%;
    height: auto;
  }
  .imagensitasindex p {
    font-size: 11px;
  }
  /* imagenes VERIFICAR que esten bien */
  .contenedorimagenes {
    height: auto;
    width: 13vh;
  }
  .contenedorimagenes img {
    height: 13vh;
    width: 13vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .listadesordenada {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    font-size: 3vh;
  }
}
/*# sourceMappingURL=style.css.map */